/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Solway', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: black;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --a-color:black;
    --serach-color:black;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --a-color:#fff;
    --serach-color:#fff;
}


/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}


/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}


.sidebar .icon {
    display: inline-block;
    width: 1em; /* Méret azonos legyen az eredetivel */
    height: 1em;
    background-size: contain; /* Az ikon teljes területet kitöltse */
    background-repeat: no-repeat;
    background-position: center;
    font-size : 20px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.icon-home {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12.5 12.618c.307-.275.5-.674.5-1.118V6.977a1.5 1.5 0 0 0-.585-1.189l-3.5-2.692a1.5 1.5 0 0 0-1.83 0l-3.5 2.692A1.5 1.5 0 0 0 3 6.978V11.5A1.496 1.496 0 0 0 4.493 13H5V9.5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2V13h.507c.381-.002.73-.146.993-.382m2-1.118a3 3 0 0 1-3 3h-7a3 3 0 0 1-3-3V6.977A3 3 0 0 1 2.67 4.6l3.5-2.692a3 3 0 0 1 3.66 0l3.5 2.692a3 3 0 0 1 1.17 2.378zm-5-2A.5.5 0 0 0 9 9H7a.5.5 0 0 0-.5.5V13h3z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
body.dark .icon-home {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='white' fill-rule='evenodd' d='M12.5 12.618c.307-.275.5-.674.5-1.118V6.977a1.5 1.5 0 0 0-.585-1.189l-3.5-2.692a1.5 1.5 0 0 0-1.83 0l-3.5 2.692A1.5 1.5 0 0 0 3 6.978V11.5A1.496 1.496 0 0 0 4.493 13H5V9.5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2V13h.507c.381-.002.73-.146.993-.382m2-1.118a3 3 0 0 1-3 3h-7a3 3 0 0 1-3-3V6.977A3 3 0 0 1 2.67 4.6l3.5-2.692a3 3 0 0 1 3.66 0l3.5 2.692a3 3 0 0 1 1.17 2.378zm-5-2A.5.5 0 0 0 9 9H7a.5.5 0 0 0-.5.5V13h3z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.icon-trendy{
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cg fill='%23000'%3E%3Cpath d='M232 56v64l-64-64Z' opacity='0.2'/%3E%3Cpath d='M232 48h-64a8 8 0 0 0-5.66 13.66L188.69 88L136 140.69l-34.34-34.35a8 8 0 0 0-11.32 0l-72 72a8 8 0 0 0 11.32 11.32L96 123.31l34.34 34.35a8 8 0 0 0 11.32 0L200 99.31l26.34 26.35A8 8 0 0 0 240 120V56a8 8 0 0 0-8-8m-8 52.69L187.31 64H224Z'/%3E%3C/g%3E%3C/svg%3E");
}
body.dark .icon-trendy{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cg fill='white'%3E%3Cpath d='M232 56v64l-64-64Z' opacity='0.2'/%3E%3Cpath d='M232 48h-64a8 8 0 0 0-5.66 13.66L188.69 88L136 140.69l-34.34-34.35a8 8 0 0 0-11.32 0l-72 72a8 8 0 0 0 11.32 11.32L96 123.31l34.34 34.35a8 8 0 0 0 11.32 0L200 99.31l26.34 26.35A8 8 0 0 0 240 120V56a8 8 0 0 0-8-8m-8 52.69L187.31 64H224Z'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-texts{
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3.464 16.828C2 15.657 2 14.771 2 11s0-5.657 1.464-6.828C4.93 3 7.286 3 12 3s7.071 0 8.535 1.172S22 7.229 22 11s0 4.657-1.465 5.828C19.072 18 16.714 18 12 18c-2.51 0-3.8 1.738-6 3v-3.212c-1.094-.163-1.899-.45-2.536-.96'/%3E%3C/svg%3E");
}
body.dark .icon-texts{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3.464 16.828C2 15.657 2 14.771 2 11s0-5.657 1.464-6.828C4.93 3 7.286 3 12 3s7.071 0 8.535 1.172S22 7.229 22 11s0 4.657-1.465 5.828C19.072 18 16.714 18 12 18c-2.51 0-3.8 1.738-6 3v-3.212c-1.094-.163-1.899-.45-2.536-.96'/%3E%3C/svg%3E");
}
.icon-proposition{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M17.252 12.49c-.284 2.365-1.833 3.31-2.502 3.996c-.67.688-.55.825-.505 1.834a.916.916 0 0 1-.916.971h-2.658a.92.92 0 0 1-.917-.971c0-.99.092-1.22-.504-1.834c-.76-.76-2.548-1.833-2.548-4.784a5.307 5.307 0 1 1 10.55.788'/%3E%3Cpath d='M10.46 19.236v1.512c0 .413.23.752.513.752h2.053c.285 0 .514-.34.514-.752v-1.512m-2.32-10.54a2.227 2.227 0 0 0-2.226 2.227m10.338.981h1.834m-3.68-6.012l1.301-1.301M18.486 17l1.301 1.3M12 2.377V3.86m-6.76.73l1.292 1.302M4.24 18.3L5.532 17m-.864-5.096H2.835'/%3E%3C/g%3E%3C/svg%3E");
}
body.dark .icon-proposition{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M17.252 12.49c-.284 2.365-1.833 3.31-2.502 3.996c-.67.688-.55.825-.505 1.834a.916.916 0 0 1-.916.971h-2.658a.92.92 0 0 1-.917-.971c0-.99.092-1.22-.504-1.834c-.76-.76-2.548-1.833-2.548-4.784a5.307 5.307 0 1 1 10.55.788'/%3E%3Cpath d='M10.46 19.236v1.512c0 .413.23.752.513.752h2.053c.285 0 .514-.34.514-.752v-1.512m-2.32-10.54a2.227 2.227 0 0 0-2.226 2.227m10.338.981h1.834m-3.68-6.012l1.301-1.301M18.486 17l1.301 1.3M12 2.377V3.86m-6.76.73l1.292 1.302M4.24 18.3L5.532 17m-.864-5.096H2.835'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-liked{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='black' fill-rule='evenodd' d='M1.633 2.796c.762-.837 1.85-1.297 3.127-1.297c1.164 0 2.407.55 3.24 1.626c.828-1.075 2.066-1.626 3.24-1.626c1.274 0 2.36.458 3.124 1.293c.756.828 1.136 1.962 1.136 3.22c0 2.166-1.113 3.909-2.522 5.264c-1.405 1.352-3.17 2.383-4.633 3.14a.75.75 0 0 1-.693-.002c-1.463-.765-3.228-1.788-4.633-3.133C1.61 9.93.5 8.193.5 6.013c0-1.255.378-2.389 1.133-3.217m1.109 1.01C2.287 4.306 2 5.053 2 6.013c0 1.624.816 2.996 2.057 4.184c1.146 1.098 2.6 1.985 3.945 2.705c1.335-.71 2.79-1.604 3.937-2.707C13.182 8.998 14 7.62 14 6.013c0-.963-.288-1.71-.744-2.21C12.808 3.314 12.14 3 11.24 3c-.976 0-2.093.628-2.527 1.95a.75.75 0 0 1-1.426 0C6.854 3.63 5.725 3 4.76 3c-.903 0-1.57.315-2.018.807' clip-rule='evenodd'/%3E%3C/svg%3E");
}
body.dark .icon-liked{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='white' fill-rule='evenodd' d='M1.633 2.796c.762-.837 1.85-1.297 3.127-1.297c1.164 0 2.407.55 3.24 1.626c.828-1.075 2.066-1.626 3.24-1.626c1.274 0 2.36.458 3.124 1.293c.756.828 1.136 1.962 1.136 3.22c0 2.166-1.113 3.909-2.522 5.264c-1.405 1.352-3.17 2.383-4.633 3.14a.75.75 0 0 1-.693-.002c-1.463-.765-3.228-1.788-4.633-3.133C1.61 9.93.5 8.193.5 6.013c0-1.255.378-2.389 1.133-3.217m1.109 1.01C2.287 4.306 2 5.053 2 6.013c0 1.624.816 2.996 2.057 4.184c1.146 1.098 2.6 1.985 3.945 2.705c1.335-.71 2.79-1.604 3.937-2.707C13.182 8.998 14 7.62 14 6.013c0-.963-.288-1.71-.744-2.21C12.808 3.314 12.14 3 11.24 3c-.976 0-2.093.628-2.527 1.95a.75.75 0 0 1-1.426 0C6.854 3.63 5.725 3 4.76 3c-.903 0-1.57.315-2.018.807' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.icon-language{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m.6-3h16.8M3.6 15h16.8'/%3E%3Cpath d='M11.5 3a17 17 0 0 0 0 18m1-18a17 17 0 0 1 0 18'/%3E%3C/g%3E%3C/svg%3E");
}
body.dark .icon-language{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 21q-1.858 0-3.5-.71q-1.642-.711-2.86-1.93T3.71 15.5T3 12q0-1.864.71-3.503q.711-1.64 1.93-2.857T8.5 3.71Q10.142 3 12 3q1.864 0 3.503.71q1.64.711 2.858 1.93t1.929 2.857Q21 10.137 21 12q0 1.858-.71 3.5q-.711 1.642-1.93 2.86t-2.857 1.93T12 21m0-.992q.88-1.131 1.452-2.221q.571-1.09.929-2.44H9.619q.397 1.426.948 2.516q.552 1.09 1.433 2.145m-1.273-.15q-.7-.825-1.278-2.04q-.578-1.214-.86-2.472H4.754q.86 1.865 2.437 3.06q1.578 1.194 3.536 1.452m2.546 0q1.958-.258 3.536-1.452q1.577-1.195 2.437-3.06h-3.834q-.38 1.277-.957 2.491q-.578 1.215-1.182 2.02m-8.927-5.51h4.035q-.114-.616-.16-1.2q-.048-.583-.048-1.147t.047-1.147t.16-1.2H4.347q-.163.52-.255 1.133Q4 11.398 4 12t.091 1.215t.255 1.131m5.035 0h5.238q.114-.615.16-1.18q.048-.564.048-1.166t-.047-1.166t-.16-1.18H9.38q-.113.615-.16 1.18q-.047.564-.047 1.166t.047 1.166t.16 1.18m6.24 0h4.034q.163-.519.255-1.131Q20 12.602 20 12t-.091-1.215t-.255-1.131h-4.035q.114.615.16 1.199q.048.584.048 1.147t-.047 1.147t-.16 1.2m-.208-5.693h3.834q-.879-1.904-2.408-3.06t-3.565-1.471q.7.921 1.259 2.107q.559 1.185.88 2.424m-5.793 0h4.762q-.396-1.408-.977-2.546T12 3.992q-.823.977-1.404 2.116T9.62 8.654m-4.865 0h3.834q.321-1.238.88-2.424t1.259-2.107q-2.054.316-3.574 1.48q-1.52 1.166-2.4 3.05'/%3E%3C/svg%3E");
}
.icon-login{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8z'/%3E%3C/svg%3E");
}
body.dark .icon-login{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8z'/%3E%3C/svg%3E");
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar li a:hover .icon-home {
background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='white' fill-rule='evenodd' d='M12.5 12.618c.307-.275.5-.674.5-1.118V6.977a1.5 1.5 0 0 0-.585-1.189l-3.5-2.692a1.5 1.5 0 0 0-1.83 0l-3.5 2.692A1.5 1.5 0 0 0 3 6.978V11.5A1.496 1.496 0 0 0 4.493 13H5V9.5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2V13h.507c.381-.002.73-.146.993-.382m2-1.118a3 3 0 0 1-3 3h-7a3 3 0 0 1-3-3V6.977A3 3 0 0 1 2.67 4.6l3.5-2.692a3 3 0 0 1 3.66 0l3.5 2.692a3 3 0 0 1 1.17 2.378zm-5-2A.5.5 0 0 0 9 9H7a.5.5 0 0 0-.5.5V13h3z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.sidebar li a:hover .icon-trendy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cg fill='white'%3E%3Cpath d='M232 56v64l-64-64Z' opacity='0.2'/%3E%3Cpath d='M232 48h-64a8 8 0 0 0-5.66 13.66L188.69 88L136 140.69l-34.34-34.35a8 8 0 0 0-11.32 0l-72 72a8 8 0 0 0 11.32 11.32L96 123.31l34.34 34.35a8 8 0 0 0 11.32 0L200 99.31l26.34 26.35A8 8 0 0 0 240 120V56a8 8 0 0 0-8-8m-8 52.69L187.31 64H224Z'/%3E%3C/g%3E%3C/svg%3E");
}

.sidebar li a:hover .icon-texts {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3.464 16.828C2 15.657 2 14.771 2 11s0-5.657 1.464-6.828C4.93 3 7.286 3 12 3s7.071 0 8.535 1.172S22 7.229 22 11s0 4.657-1.465 5.828C19.072 18 16.714 18 12 18c-2.51 0-3.8 1.738-6 3v-3.212c-1.094-.163-1.899-.45-2.536-.96'/%3E%3C/svg%3E");
}

.sidebar li a:hover .icon-proposition {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M17.252 12.49c-.284 2.365-1.833 3.31-2.502 3.996c-.67.688-.55.825-.505 1.834a.916.916 0 0 1-.916.971h-2.658a.92.92 0 0 1-.917-.971c0-.99.092-1.22-.504-1.834c-.76-.76-2.548-1.833-2.548-4.784a5.307 5.307 0 1 1 10.55.788'/%3E%3Cpath d='M10.46 19.236v1.512c0 .413.23.752.513.752h2.053c.285 0 .514-.34.514-.752v-1.512m-2.32-10.54a2.227 2.227 0 0 0-2.226 2.227m10.338.981h1.834m-3.68-6.012l1.301-1.301M18.486 17l1.301 1.3M12 2.377V3.86m-6.76.73l1.292 1.302M4.24 18.3L5.532 17m-.864-5.096H2.835'/%3E%3C/g%3E%3C/svg%3E");
}

.sidebar li a:hover .icon-liked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='white' fill-rule='evenodd' d='M1.633 2.796c.762-.837 1.85-1.297 3.127-1.297c1.164 0 2.407.55 3.24 1.626c.828-1.075 2.066-1.626 3.24-1.626c1.274 0 2.36.458 3.124 1.293c.756.828 1.136 1.962 1.136 3.22c0 2.166-1.113 3.909-2.522 5.264c-1.405 1.352-3.17 2.383-4.633 3.14a.75.75 0 0 1-.693-.002c-1.463-.765-3.228-1.788-4.633-3.133C1.61 9.93.5 8.193.5 6.013c0-1.255.378-2.389 1.133-3.217m1.109 1.01C2.287 4.306 2 5.053 2 6.013c0 1.624.816 2.996 2.057 4.184c1.146 1.098 2.6 1.985 3.945 2.705c1.335-.71 2.79-1.604 3.937-2.707C13.182 8.998 14 7.62 14 6.013c0-.963-.288-1.71-.744-2.21C12.808 3.314 12.14 3 11.24 3c-.976 0-2.093.628-2.527 1.95a.75.75 0 0 1-1.426 0C6.854 3.628 5.738 3 4.758 3c-.898 0-1.566.314-1.995.803z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.sidebar li a:hover .icon-language{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 21q-1.858 0-3.5-.71q-1.642-.711-2.86-1.93T3.71 15.5T3 12q0-1.864.71-3.503q.711-1.64 1.93-2.857T8.5 3.71Q10.142 3 12 3q1.864 0 3.503.71q1.64.711 2.858 1.93t1.929 2.857Q21 10.137 21 12q0 1.858-.71 3.5q-.711 1.642-1.93 2.86t-2.857 1.93T12 21m0-.992q.88-1.131 1.452-2.221q.571-1.09.929-2.44H9.619q.397 1.426.948 2.516q.552 1.09 1.433 2.145m-1.273-.15q-.7-.825-1.278-2.04q-.578-1.214-.86-2.472H4.754q.86 1.865 2.437 3.06q1.578 1.194 3.536 1.452m2.546 0q1.958-.258 3.536-1.452q1.577-1.195 2.437-3.06h-3.834q-.38 1.277-.957 2.491q-.578 1.215-1.182 2.02m-8.927-5.51h4.035q-.114-.616-.16-1.2q-.048-.583-.048-1.147t.047-1.147t.16-1.2H4.347q-.163.52-.255 1.133Q4 11.398 4 12t.091 1.215t.255 1.131m5.035 0h5.238q.114-.615.16-1.18q.048-.564.048-1.166t-.047-1.166t-.16-1.18H9.38q-.113.615-.16 1.18q-.047.564-.047 1.166t.047 1.166t.16 1.18m6.24 0h4.034q.163-.519.255-1.131Q20 12.602 20 12t-.091-1.215t-.255-1.131h-4.035q.114.615.16 1.199q.048.584.048 1.147t-.047 1.147t-.16 1.2m-.208-5.693h3.834q-.879-1.904-2.408-3.06t-3.565-1.471q.7.921 1.259 2.107q.559 1.185.88 2.424m-5.793 0h4.762q-.396-1.408-.977-2.546T12 3.992q-.823.977-1.404 2.116T9.62 8.654m-4.865 0h3.834q.321-1.238.88-2.424t1.259-2.107q-2.054.316-3.574 1.48q-1.52 1.166-2.4 3.05'/%3E%3C/svg%3E");
}
.sidebar li a:hover .icon-login{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8z'/%3E%3C/svg%3E");
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.sidebar.close .mode .sun-moon i {
    display: none; /* Elrejti az i elemet, ha a navbar zárva van */
}
.mode .sun-moon i{
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/*innen */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top:1%;
    margin-left: 74%;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:black;
  }
  body.dark .input-search{
    color:white;
  }
  .input-search::placeholder{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  body.dark .input-search::placeholder{
    color:white;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:black ;
    background-color:transparent;
    pointer-events: painted;  
  }
  body.dark .btn-search{
    color:white ;
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  body.dark .input-search:focus {
    border-bottom: 1px solid white; /* Sötét módban fehér szegély */
}
  #harryPotterContainer, #witcherContainer ,#FourthWingsContainer ,#MazeRunner,#LOTR,#HungerGames,#Eragon{
    text-align: center; /* Középre igazítja a tartalmat a konténeren belül */
}

#harryPotterContainer .title , #witcherContainer .title, #FourthWingsContainer .title, #MazeRunner .title,#LOTR .title,#HungerGames .title,#Eragon .title {
    display: block; /* Biztosítja, hogy a cím teljes szélességben külön sorban legyen */
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px; /* Távolság a képek és a cím között */
    position: absolute;
    margin-top:-3%;
    color: var(--a-color);
}

#harryPotterContainer .title a,#witcherContainer .title a, #FourthWingsContainer .title a, #MazeRunner .title a,#LOTR .title a,#HungerGames .title a ,#Eragon .title a {
    color: var(--a-color);
    text-decoration: underline;
}

#harryPotterContainer .title a:hover,#witcherContainer .title a:hover, #FourthWingsContainer .title a:hover, #MazeRunner .title a:hover,#LOTR .title a:hover,#HungerGames .title a:hover ,#Eragon .title a:hover {
    color: #555;
}
  .container{
      margin:100px 0 0 200px;
      width:70%;
      height:450px;
      display: flex;
      justify-content: center;
      gap: 10px;
  }
  .container img {
      width:10%;
      height:100%;
      object-fit: cover;
      border-radius: 10px;
      border: 2px solid rgba(255,255,255,0.684);
      transition: all ease-in-out 0.5s;
  }
  .container img:hover{
      width:25%;
  }
  form {
      width: 300px;
      height: 44px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .arrow-wrapper {
        display: flex; /* Use flexbox for the arrow wrapper */
        align-items: center; /* Center the arrow vertically */
        justify-content: center; /* Center the arrow horizontally */
        width: 40px; /* Set width for the circle */
        height: 40px; /* Set height for the circle */
        border-radius: 50%; /* Make it circular */
        background-color: #f0f0f0; /* Background color of the circle */
        border: 2px solid #000; /* Border color and thickness */
        margin-left: 5px; /* Space between the last image and the arrow */
        transition: none !important; /* Ensure no transition is applied to the wrapper */
    }
    
    .arrow {
        font-size: 16px; /* Adjust arrow size */
        color: #000; /* Change arrow color if needed */
        transition: none !important; /* Ensure no transition is applied to the arrow */
    }
    .search-results-container {
        margin-left: 15%;
        margin-right: 10%;
        padding: 10px;
        border-top: 1px solid #ccc;
        margin-top: 10px;
        z-index: 1000;
    }
    
    .search-result {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        text-align: center;
        width: 120px; /* Megadhatod a kívánt szélességet */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 14px;
    }
    
    .search-result img {
        width: 100%; /* Képek szélessége */
        height: auto; /* Magasság automatikusan */
        border-radius: 5px;
        display: block;
        color: #333;
        text-decoration: none;
    }
    
    .search-result a {
        width: 100%; /* Képek szélessége */
        height: auto; /* Magasság automatikusan */
        border-radius: 5px;
        display: block;
        color: #333;
        text-decoration: none;
    }
    .searchable-link {
        display: inline-block; /* vagy inline-flex, ha jobban illeszkedik az elrendezéshez */
        width: 100%;
        height: 100%;
        text-decoration: none; /* hivatkozás alatti vonal eltávolítása */
    }
    
    .searchable-link .searchable-image {
        width: 100%;
        height: auto; /* a magasság automatikus, hogy megtartsa az arányokat */
        border-radius: 5px; /* a kép sarkainak lekerekítése */
        display: block;
    }
    
    @media (max-width: 480px) {
        .sidebar {
            width: 150px; /* Még kisebb szélesség */
            padding: 10px; /* Padding hozzáadása */
            max-height: 100vh; /* Magasság korlátozása */
        }
        
        .sidebar.close {
            width: 60px; /* Kisebb szélesség bezárt állapotban */
            
        }
        
        .home {
            left: 150px;
            width: calc(100% - 150px);
        }
        
        .sidebar.close ~ .home {
            left: 60px;
            width: calc(100% - 60px);
        }
    
        /* Szöveg és ikonok méretének csökkentése */
        .sidebar .text {
            font-size: 10px; /* Betűméret csökkentése */
        }
    
        .sidebar .icon {
            font-size: 16px; /* Ikon méretének csökkentése */
        }
    
        /* Menü elemek méretének csökkentése */
        .sidebar .menu-item {
            padding: 2px 5px; /* Kevesebb padding */
            font-size: 12px; /* Még kisebb betűméret */
        }
        .container {
            width: 85%; /* Szélesség 85%-ra állítva mobil eszközökön */
            height: auto; /* Magasság automatikusan, hogy alkalmazkodjon a tartalomhoz */
            display: flex;
            position: relative;
            justify-content: center;
            flex-wrap: wrap; /* Flex elemek oszloppá alakítása */
            gap: 10px;
            left:8%;
            padding-left: 2.2%; /* Bal oldali padding */
            padding-right: 2.2%; /* Jobb oldali padding */
            margin: 0 auto; /* Középre igazítás */
            margin-bottom: auto;
            margin-top: auto;
            padding-top: auto;
        }
    
        .container img {
            width: calc(50% - 10px); /* Képek szélessége 50% minusz a gap mérete */
            max-width: 150px; /* Maximum szélesség, hogy ne legyenek túl nagyok */
            height: auto; /* Magasság automatikusan */
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.684);
            transition: transform ease-in-out 0.5s; /* Csak a transform-ra alkalmazzuk az átmenetet */
        }
    
        .container img:hover {
            transform: scale(1.2); /* Nagyítás hover esetén */
        } 
    
        #harryPotterContainer .title, 
        #witcherContainer .title, 
        #FourthWingsContainer .title,
        #MazeRunner .title,
        #LOTR .title,
        #HungerGames .title,
        #Eragon .title  {
            display: block; /* Biztosítja, hogy a cím teljes szélességben külön sorban legyen */
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 5px; /* Csökkentett távolság a képek és a cím között */
            position:relative; /* Pozíció relatív */
            text-align: center; /* Cím középre igazítása */
            z-index: 1; /* Címek a képek felett */
            margin-top: 10%;
            padding-bottom: 4%;
        }
        
    }

    @media (max-width: 768px) {
        .sidebar {
            width: 150px; /* Még kisebb szélesség */
            padding: 5px; /* Padding hozzáadása */
            max-height: 100vh; /* Magasság korlátozása */
        }
        
        .sidebar.close {
            width: 70px; /* Kisebb szélesség bezárt állapotban */
            margin-right: 2%;
        }
        
        .home {
            left: 200px; /* Igazítás a kisebb sidebar szélességhez */
            width: calc(100% - 200px);
        }
        
        .sidebar.close ~ .home {
            left: 70px;
            width: calc(100% - 70px);
        }
        .sidebar .text {
            font-size: 10px; /* Betűméret csökkentése */
        }
    
        .sidebar .icon {
            font-size: 16px; /* Ikon méretének csökkentése */
        }
    
        /* Menü elemek méretének csökkentése */
        .sidebar .menu-item {
            padding: 2px 5px; /* Kevesebb padding */
            font-size: 12px; /* Még kisebb betűméret */
        }
        .container {
            margin: 20px auto; /* Margó automatikus középre igazítással */
            width: 90%; /* Szélesség 90%-ra állítva */
            height: auto; /* Magasság automatikusan, hogy alkalmazkodjon a tartalomhoz */
            display: flex;
            flex-wrap: wrap; /* Flex elemek oszloppá alakítása */
            justify-content: center;
            gap: 10px;
            padding-top: 4%;
            margin-bottom: 2%;;
        }
    
        .container img {
            width: 45%; /* Képek szélessége 45% a két oszlopos elrendezéshez */
            max-width: 150px; /* Maximum szélesség, hogy ne legyenek túl nagyok */
            height: auto; /* Magasság automatikusan */
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.684);
            transition: transform ease-in-out 0.5s; /* Átmenet a transform-ra */

        }
    
        .container img:hover {
            transform: scale(1.1); /* Nagyítás hover esetén */
        }
        #harryPotterContainer .title, 
        #witcherContainer .title, 
        #FourthWingsContainer .title,
        #MazeRunner .title,
        #LOTR .title,
        #HungerGames .title,
        #Eragon .title {
            display: block; /* Biztosítja, hogy a cím teljes szélességben külön sorban legyen */
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 2%; 
            position:absolute;
            text-align: center; /* Cím középre igazítása */
            z-index: 1; /* Címek a képek felett */
            margin-top: -12%;
            padding-top: 3%;
        }
    
    }
    
 